.holder {
  display: flex;                 /* Enable flexbox */
  justify-content: space-between;/* Space between items */
  flex-wrap: wrap;               /* Items will wrap (no squishing) */
  margin: 20px;
} 

.item {
  flex: 0 0 150px;
  height: 150px;
  font-size: 3em;
  font-weight: bold;

  /* NEW: put number at top-left */
  display: block;
  padding: 10px;
  text-align: left;
}

/* Colors */
.orange { background-color: orangered; }
.blue { background-color: blue; }
.green { background-color: green; }

